.ttapp-table-lines {
	border-collapse: collapse;
	width: 100%;
}

.ttstand tbody td {
	padding: 0.5rem;
}

.ttstand thead tr td {
	text-transform: capitalize;
	font-weight: bold;
	background-color: #eee;
}

.ttstand tr td.ttapp-teamname {
	width: 70%;
}

.ttstand tr td.ttapp-nplayed,
.ttstand thead tr td.ttapp-points {
	width: 10%;
}

.ttstand tr td.ttapp-nplayed {
	text-align: center;
}

.ttstand tr td.ttapp-points {
	text-align: right;
}

.ttstand tbody tr:nth-child(even) td {
	background-color: #eee;
}
